
.button {
    display: flex;
    align-items: center;
}

input {
    height: 24px;
    font-size: 16px;
}

.container {
    border: solid 2px gray;
    border-radius: 1em;
    margin: 10px;
    padding: 10px;
}

.historic {
    margin: 10px;
    margin-left: 0px;
    background: gray;
    color: white;
}